<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ligi.solar_activity_monitor"
          android:versionCode="12"
          android:versionName="0.12">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>

    <permission
            android:name="org.ligi.solar_activity_monitor.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="org.ligi.solar_activity_monitor.permission.C2D_MESSAGE"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"/>
    <supports-screens/>

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <receiver
                android:name=".SAMTextWidget"
                android:exported="false"
                android:icon="@drawable/number"
                android:label="@string/solar_activity_as_text">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_text"/>
        </receiver>
        <receiver
                android:name=".SAMIconWidget"
                android:exported="false"
                android:icon="@drawable/quiet"
                android:label="@string/solar_activity_as_icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_icon"/>
        </receiver>

        <activity
                android:name=".InfoActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>